:root {
  font-family: Barlow, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei,
    Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif,
    microsoft uighur;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.85rem 1.75rem;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2rem;
}

#app {
  max-width: 425px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.stroke {
  color: var(--font-color);
  letter-spacing: 0;
  font-weight: 700;
  text-shadow: var(--stroke-color) 4px 0 0,
    var(--stroke-color) 3.87565px 0.989616px 0,
    var(--stroke-color) 3.51033px 1.9177px 0,
    var(--stroke-color) 2.92676px 2.72656px 0,
    var(--stroke-color) 2.16121px 3.36588px 0,
    var(--stroke-color) 1.26129px 3.79594px 0,
    var(--stroke-color) 0.282949px 3.98998px 0,
    var(--stroke-color) -0.712984px 3.93594px 0,
    var(--stroke-color) -1.66459px 3.63719px 0,
    var(--stroke-color) -2.51269px 3.11229px 0,
    var(--stroke-color) -3.20457px 2.39389px 0,
    var(--stroke-color) -3.69721px 1.52664px 0,
    var(--stroke-color) -3.95997px 0.56448px 0,
    var(--stroke-color) -3.97652px -0.432781px 0,
    var(--stroke-color) -3.74583px -1.40313px 0,
    var(--stroke-color) -3.28224px -2.28625px 0,
    var(--stroke-color) -2.61457px -3.02721px 0,
    var(--stroke-color) -1.78435px -3.57996px 0,
    var(--stroke-color) -0.843183px -3.91012px 0,
    var(--stroke-color) 0.150409px -3.99717px 0,
    var(--stroke-color) 1.13465px -3.8357px 0,
    var(--stroke-color) 2.04834px -3.43574px 0,
    var(--stroke-color) 2.83468px -2.82216px 0,
    var(--stroke-color) 3.44477px -2.03312px 0,
    var(--stroke-color) 3.84068px -1.11766px 0,
    var(--stroke-color) 3.9978px -0.132717px 0;
}
